<!--
Template: Business
-->
<div class="internalMarketingTemplate business">
    <div class="signupTop">
        <div class="left">
            <h2 class="title">Business Services</h2>
            <p>DFN’s large fiber network allows us to offer robust Business Services including fiber internet, data networking, managed IT services, web/email hosting, and voice communications.</p>
        </div>
        <div class="right">
            <div class="signupAction">
                <a href=""
                   title="Sign Up"
                   class="greenSquareButton"
                >Sign Up</a>
            </div>
        </div>
    </div>
    <div class="voiceSolutions">
        <h2 class="voice">Voice Solutions</h2>
        <div class="left">
            <h3>Business Voice</h3>
            <ul>
                <li>Analog, PRI, SIP Trunking</li>
                <li>Local and Long Distance Calling</li>
                <li>Voicemail, Voicemail to Email, Call Blocking,
                    & more!</li>
            </ul>
        </div>
        <div class="right">
            <h3>Hosted PBX</h3>
            <div class="left">
                <p>Switch your business over to our complete
                    VoIP system. With this option, you will now
                    have a single source provider for your business
                    phone equipment and phone service. DFN will
                    provide you with an enterprise grade phone
                    system, custom built to your specifications,
                    and include a comprehensive training
                    session for your staff.</p>
            </div>
            <div class="right">
                <a href=""
                   title="Learn More"
                   class="brownSquareButton"
                >Learn More</a>
            </div>
        </div>
    </div>
    <div class="businessFiberInternet">
        <h2 class="businessFiberInternet">Business Fiber Internet</h2>
        <!-- TODO -->
    </div>
    <div class="metroEthernet">
        <h3>Metro Ethernet</h3>
        <p>Does your business have multiple buildings that need to connect like they are all under the same roof? With DFN’s large fiber network, we can network you with up to 10Gbps between your locations. Call us today for a custom quote!</p>
    </div>
    <div class="webEmailHosting">
        <h2 class="webEmailHosting">Web/Email Hosting Solutions</h2>
        <!-- TODO -->
    </div>
</div>