/*--------------------------------------------------------------
# Client Brand Colors
--------------------------------------------------------------*/
//colors here
$error_red:#FF7878;

/*--------------------------------------------------------------
# Social Brand Colors
--------------------------------------------------------------*/
$facebook_brand_color_blue:#3b5998;
$twitter_brand_color_blue:#1da1f2;
$youtube_brand_color_red:#cd201f;
$instagram_brand_color:#833ab4;
$pinterest_brand_color:#bd081c;
