@import "common/variables";
@import "common/mixins";
@import "common/normalize";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Header
# Menu - Deskop and Mobile
# Home Page Specific
# Content
# - Page Specific Content
# Sidebar
# Scroll To Top
# Footer
# Vendor Specific
# Responsive (iphone/android)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  position:relative;

  .top {
    display:block;
    padding:0.5em 0 0 0;

    .logo {
      display:inline-block;
      width:200px;

      img {
        width:100%;
        height:auto;
      }
    }

    .rightActions {
      display:inline-block;
      vertical-align:top;
      float:right;
      width:440px;
      margin:0.5em 0 0 0;

      @include bp_phone {
        display:block;
        float:unset;
        width:auto;
      }

      .phone {
        font-size:2.1em;
        font-weight:900;
        margin:0 0 0.5em 0;
        text-align:right;
        color:$headlineDarkGray;
        font-family:'Open Sans',sans-serif;

        @include bp_phone {
          text-align:center;
        }
      }

      .menu {
        text-align:right;
        list-style-type:none;

        @include bp-phone {
          text-align:center;
        }

        li {
          margin:0 1em 0 0;
          display:inline-block;

          &:last-of-type {
            margin:0;
          }

          &.webmail {
            @include font-awesome-declaration('before', '\f0e0', 1.1em, null, $headlineDarkGray, null );
          }

          &.myaccount {
            @include font-awesome-declaration('before', '\f2bd', 1.1em, null, $headlineDarkGray, null );
          }

          a {
            color:$headlineDarkGray;
            text-decoration:none;
            font-size:1.2em;

            &:hover {
              color:#ccc;
            }
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Menu - Desktop and Mobile
--------------------------------------------------------------*/
#search_mobile {
  display:none;
}

#menu_close {
  @include font-awesome-declaration('after', '\f057', 2.934em, null, white, null );
  display:none;
  float:right;
  right:2%;
  outline:none;
  border:none;
  background:none;

  @include bp-small {
    display:block;
  }
}

#menu_btn {
  @include font-awesome-declaration('after', '\f0c9', 2.934em, null, black, null) {
    float:left;
  };
  background:none;
  float:right;
  outline:none;
  display:none;
  margin:0;
  top:5px;
  right:2%;
  border:none;
  position:absolute;

  @include bp-small {
    display:block;
  }
}

#menu {
  width:100%;
  padding:1em 0;
  background:#e3e3e3;

  @include bp_phone {
    display:none;
    background:$brand_new_orange;

    &.open {
      display:block;
    }
  }

  .menu {
    @include ul-no-list-style;

    li {
      display:inline-block;
      width:19%;
      text-align:center;
      position:relative;

      @include bp_phone {
        width:100%;
        display:block;
      }

      a {
        font-size:1.7em;
        font-weight:900;
        color:$headlineDarkGray;
        text-transform:uppercase;

        @include bp_phone {
          text-align:center;
          color:white;
          font-weight:500;
        }
      }

      &:hover {

        &  > .sub-menu {
          display:block;
        }
      }

      &.current_page_item {
        position:relative;

        @include bp_phone {
          &:after {
            display:none;
          }
        }

        &:after {
          content:url('https://stage.eoni.com/wp-content/themes/eoni-twentynineteen/images/menu_triangle.png');
          color:black;
          position:absolute;
          bottom:-32px;
          left:43%;
        }

        a {
          color:#9a9a9a;
          font-weight:100;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Home Page Specific
--------------------------------------------------------------*/
.homeSlider {
  @include box-shadow(0px 19px 32px 3px rgba(0,0,0,.3));
  display:block;
  overflow:hidden;
  background:white;

  .slick_slider {
    display:block;
    list-style-type:none;
    margin:0;
    padding:0;

    .slick-dots {
      display:none !important;
    }

    li {
      display:inline-block;

      .left {
        vertical-align:top;
        width:45%;
        display:inline-block;
        margin:2em 0 0 2em;

        @include bp_phone {
          width:100%;
          display:block;
        }

        h2 {
          margin:0;
          padding:0;
          text-transform:uppercase;

          .top {
            font-weight:900;
            color:#333;
            display:block;
            font-size:2em;

            @include bp_phone {
              font-size:1.5em;
              line-height:1.1;
            }
          }

          .bottom {
            color:gray;
            font-weight:500;
            display:block;
            font-size:1.8em;
            margin-top:-27px;

            @include bp_phone {
              font-size:1.2em;
              margin-top:unset;
              line-height:1.1;
            }
          }
        }

        ul {
          margin:0;
          padding:0;
          list-style-type:none;

          li {
            display:block;
            font-size:1em;
            line-height:2;
            font-weight:100;
          }
        }

        .priceAction {
          display:block;

          .priceStats {
            display:inline-block;
            float:left;
            width:27%;

            @include bp_phone {
              width:100%;
              display:block;
              text-align:center;
            }

            .numbers {
              font-weight:900;
              font-size:3.5em;
            }

            .asterisks {
              display:block;
              font-size:0.9em;

              .starting {
                vertical-align:top;
                display:inline-block;
                text-align:left;

                @include bp_phone {
                  display:block;
                }
              }

              .month {
                vertical-align:top;
                display:inline-block;
                float:right;

                @include bp_phone {
                  float:left;
                  display:block;
                }
              }
            }
          }

          .learnMore {
            display:inline-block;
            float:right;
            margin:3em;

            @include bp_phone {
              float:left;
              display:block;
            }

            a {
              @include border-radius(5px);
              background:$brand_orange;
              color:white;
              padding:1em 2em;
              text-align:center;
              text-transform:uppercase;
              text-decoration:none;
            }
          }
        }
      }

      .asset {
        vertical-align:top;
        width:35%;
        float:right;
        display:inline-block;

        @include bp_phone {
          width:100%;
          display:block;
        }

        img {
          width:100%;
          height:auto;
        }
      }

      &.internet {

        .top {
          letter-spacing:12px;

          @include bp_phone {
            letter-spacing:unset;
          }
        }
      }

      &.voice {
        .top {
          letter-spacing:7px;
        }

        .bottom {
          letter-spacing:-3px;
          font-size:1.9em;
        }

        .asset {
          margin:2em 2em 0 0;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content_left {

}

#content_right {

}

main {

  &.internalMarketing {

    #contentFull {
      padding:0 0 2em 0;
    }
  }
}

#contentFull {
  @include box-shadow(0px 19px 32px 3px rgba(0,0,0,.3));
  background:white;
  padding:2em;

  .internalPageTitle {
    font-size:1.8em;
  }

  .subMenu {
    @include box-shadow(0px 5px 5px rgba(0,0,0,.3));
    background:$brand_orange;
    list-style-type:none;
    margin:0 !important;
    padding:1em 3em;
    position:relative;

    li {
      display:inline-block;
      margin:0 1.5em 0 0;
      color:white;
      font-weight:100;
      font-size:1.5em;

      @include bp_phone {
        margin:0 0 0.5em 0;
        display:block;
        text-align:center;
      }

      &.current {

        a {
          font-weight:700;
        }
      }

      a {
        @include transition(600ms all ease);
        font-weight:100;
        color:white;
        font-size:1em;
        text-decoration:none;

        &:hover {
          @include transition(600ms all ease);
          border-bottom:1px solid white;
        }
      }
    }
  }

  //all styles for internal special landing pages
  .internalMarketingTemplate {
    margin:auto;
    width:90%;

    .styledHeader {
      padding:0 0 0 60px;
      font-size:2em;
      font-weight:500;
      display:inline-block;
      text-transform:uppercase;
      background-repeat:no-repeat;
      background-size:48px;

      @include bp_phone {
        line-height:1;
        font-size:1.5em;
        min-height:53px;
      }

      &.businessServices {
        background-image:url('/wp-content/themes/eoni-twentynineteen/images/internal-marketing-pages/business/phone-lines-icon.png');
      }

      &.internet {
        background-image:url('/wp-content/themes/eoni-twentynineteen/images/internal-marketing-pages/internet/fiber-icon.png');
      }

      &.voice {
        background-image:url('/wp-content/themes/eoni-twentynineteen/images/internal-marketing-pages/hosted-voice/voice-icon.png');
      }

      &.fiber {
        background-image:url('/wp-content/themes/eoni-twentynineteen/images/internal-marketing-pages/internet/fiber-icon.png');
      }

      &.ethernet {
        background-image:url('/wp-content/themes/eoni-twentynineteen/images/internal-marketing-pages/business/ethernet-icon.png');
      }

      &.hosting {
        background-image:url('/wp-content/themes/eoni-twentynineteen/images/internal-marketing-pages/business/hosting-icon.png');
      }
    }

    .signupTop {
      display:block;
      padding:0;
      margin:2em 0;

      .signupAction {
        float:right;
        margin:10px 0 0 0;

        @include bp_phone {
          float:unset;
          text-align:center;
        }

        .greenSquareButton {
          @include border-radius(3px);
          padding:0.5em 1.6em;
          text-transform:uppercase;
          font-size:1.3em;
        }
      }
    }

    .priceWithText {
      @include border-radius(5px);
      background:$brand_orange;
      color:white;
      text-align:center;
      min-height:64px;
      margin:0 0 1em 0;

      @include bp_phone {
        min-height:auto;
      }

      .price {
        font-size:2.7em;
        display:inline-block;
        width:20%;

        @include bp_phone {
          font-size:2em;
        }
      }

      .contractLength {
        @include border-radius(5px);
        margin:9px 7px 0 0;
        padding:0.2em;
        color:#333;
        background:$brand_new_yellow;
        font-size:1.4em;
        display:inline-block;
        width:66%;
        float:right;

        @include bp_phone {
          font-size:1em;
        }
      }
    }

    .topExplainerPara {
      display:block;
      margin-bottom:5em;
    }

    .columnLayout {

      .title {
        color:white;
        text-align:center;
        font-size:2em;
        padding:0.2em 0;
        margin:0;
      }

      .underTitle {
        background:$brand_orange;
        text-align:center;
        padding:1em 0;
        color:white;
        font-size:1.3em;

        .price {
          font-size:2.5em;
          display:block;
        }
      }

      .itemizedPoints {
        background:#e3e3e3;
        list-style-type:none;
        margin:0;
        padding:1em 0;

        li {
          display:block;
          text-align:center;
          margin:0 0 2em 0;

          &:last-of-type {
            margin:0;
          }

          .twoColSquareButton {
            @include transition(400ms all ease);
            @include border-radius(5px);
            background:$brand_new_yellow;
            text-align:center;
            font-size:1.3em;
            padding:0.4em 0;
            margin:1em 3em;
            color:#333;
            text-transform:uppercase;
            text-decoration:none;
            display:block;

            &:hover {
              @include transition(400ms all ease);
              background:$brand_orange;
              color:white;
            }
          }
        }
      }
    }

    /*
    3 column
    - used on Internet
     */
    .threeFullColumn {
      display:block;

      .one {
        vertical-align:top;
        display:inline-block;
        width:32.5%;

        @include bp_phone {
          width:100%;
          display:block;
        }

        .asset {
          width:100%;
          display:block;

          img {
            width:100%;
            height:auto;
          }
        }

        .contain {
          display:block;

          .title {
            font-size:2.4em;
            font-weight:700;
            text-transform:uppercase;
            margin:0 0.3em 0 0;
          }

          .underTitle {
            display:block;
            margin:0 0 1em 0;

            p {
              margin:0;
              padding:0;
            }
          }

          .contentPara {
            display:block;
            margin:0 0 1.5em 0;
            min-height:176px;

            p {
              font-size:0.8em;
              line-height:2;
            }
          }

          .learnMore {
            display:block;

            .graySquareButton {
              @include border-radius(3px);
              background:$brand_gray;
              padding:0.3em 1em;
              text-transform:uppercase;
              text-align:center;
              color:white;
            }
          }
        }
      }

      .two {
        @extend .one;
        border-left:1px solid #333;

        @include bp_phone {
          border:none;
          margin:2em 0;
        }

        .contain {
          margin:0 0 0 2em;

          @include bp_phone {
            margin:0;
          }
        }
      }

      .three {
        @extend .one;
        border-left:1px solid #333;

        @include bp_phone {
          border:none;
        }

        .contain {
          margin:0 0 0 2em;

          @include bp_phone {
            margin:0;
          }
        }
      }
    }

    /*
    2 column
    - used on Fiber
     */
    .twoFullColumn {
      display:block;

      .dataRow {
        display:block;
        margin:0 0 1em 0;
        min-height:630px;

        .one {
          @include border-radius(10px);
          float:left;
          width:300px;
          background:$brand_gray;

          @include bp_phone {
            width:100%;
            float:unset;
            display:block;
            margin:0 0 2em 0;
          }

          @extend .columnLayout;
        }

        .two {
          @include border-radius(10px);
          float:right;
          width:300px;
          background:$brand_gray;

          @include bp_phone {
            width:100%;
            float:unset;
            display:block;
          }

          @extend .columnLayout;
        }
      }
    }

    .explainerTwoCol {
      display:block;

      .left {
        width:40%;
        float:left;
        display:inline-block;

        @include bp_phone {
          display:block;
          float:unset;
          width:100%;
        }

        h4 {
          font-size:2em;
        }

        .bottomAsterisk {
          display:block;
          text-align:center;
          font-size:1.3em;
          margin:1em 0 0 0;
        }
      }

      .right {
        float:right;
        display:inline-block;
        width:40%;
        margin-bottom:4em;

        @include bp_phone {
          display:block;
          float:unset;
          width:100%;
        }

        .router {
          width:66%;

          img {
            width:100%;
            height:auto;
          }
        }

        .title {
          display:block;
          font-weight:900;
        }

        .finePrint {
          font-size:0.8em;
          padding:0;
          margin:0;
        }
      }
    }

    &.wireless {
      .one, .two {
        width:44% !important;

        @include bp_phone {
          width:100% !important;
        }
      }

      .priceWithText {

        .price {
          padding-top:10px;
          font-size:1.9em !important;
        }
      }
    }

    &.business {

      .signupTop {
        border-bottom:1px solid #ccc;

        .left {
          display:inline-block;
          vertical-align:top;
          width:50%;

          @include bp_phone {
            width:100%;
            display:block;
          }
        }

        .right {
          display:inline-block;
          vertical-align:top;
          width:auto;
          float:right;

          @include bp_phone {
            width:100%;
            display:block;
          }
        }
      }

      .voiceSolutions {
        display:block;
        padding:1em 0;
        border-bottom:1px solid #ccc;
        overflow:hidden;

        @include bp_phone {
          height:auto;
        }

        h3 {
          font-size:2.2em;
        }

        .voice {
          text-transform:uppercase;
          display:block;
          margin:0 0 2em 0;
        }

        .left {
          vertical-align:top;
          width:39%;
          display:inline-block;

          @include bp_phone {
            width:100%;
            display:block;
          }

          ul {
            list-style-type:none;
            margin:0;
            padding:0;
          }
        }

        .right {
          vertical-align:top;
          width:39%;
          float:right;
          display:inline-block;

          @include bp_phone {
            width:100%;
            display:block;
          }

          .learnMore {
            margin:1em 0;
          }
        }
      }

      .businessFiberInternet {
        padding:1em 0;

        .rowsContainer {
          display:block;

          .mps {
            @include border-radius(5px);
            vertical-align:top;
            background:$brand_orange;
            width:32.8%;
            display:inline-block;
            text-align:center;
            color:white;

            @include bp_phone {
              width:100%;
              display:block;
            }

            .title {
              font-size:2em;
              padding:0.4em 0;
              font-weight:800;
            }

            .price {
              background:gray;
              padding:1em 0;
              display:block;

              .amount {
                font-size:3em;
                display:block;
                font-weight:900;
              }

              .under {
                font-size:1.2em;
                display:block;
              }

              .asterisk {
                font-size:0.7em;
                line-height:0.9;
                padding:0 1%;
              }
            }

            .list {
              background:#e3e3e3;
              list-style-type:none;
              padding:1em 0;
              margin:0;
              color:#333;

              li {
                margin:0 0 3em 0;
              }
            }

            .signup {
              background:#e3e3e3;
              padding:1em 0;

              .greenSquareButton {
                text-transform:uppercase;
                padding:0.3em 2em;
                font-size:1.5em;
              }
            }
          }
        }
      }

      .metroEthernet {
        display:block;
        margin:1em 0;
        border-bottom:1px solid #ccc;
        height:300px;

        .left {
          width:60%;
          display:inline-block;
          vertical-align:top;

          @include bp_phone {
            width:100%;
            display:block;
          }

          h3 {
            font-size:2em;
            margin:0 0 0.5em 0;
          }

          p {
            font-size:1em;
            line-height:2;
          }
        }

        .right {
          width:38%;
          float:right;
          display:inline-block;

          @include bp_phone {
            width:100%;
            display:block;
          }

          img {
            width:100%;
            height:auto;
          }
        }
      }

      .webEmailHosting {
        background:url('../../images/internal-marketing-pages/business/server-orange.png') no-repeat -19px 81px;
        background-size:300px;
        display:block;
        height:670px;

        .optionList {
          width:auto;
          float:right;
          margin:0;
          padding:0;
          list-style-type:none;

          @include bp_phone {
            float:unset;
          }

          .option {
            @include border-radius(5px);
            width:220px;
            background:$brand_orange;
            text-align:center;
            color:white;
            display:inline-block;
            margin:0 1em 0 0;
            vertical-align:top;

            @include bp_phone {
              width:100%;
              display:block;
            }

            &:last-of-type {
              margin:0;
            }

            h3 {
              font-size:1.8em;
              margin:0;
              padding:0.4em 0;
            }

            .price {
              background:$brand_gray;
              padding:0.5em 0;
              font-size:1.3em;
              display:block;

              .amount {
                font-size:1.9em;
                display:block;
                font-weight:300;
              }
            }

            .list {
              background:#e3e3e3;
              margin:0;
              padding:1em 0;
              list-style-type:none;

              li {
                display:block;
                margin:0 0 2em 0;
                padding:0;
                color:#333;

                &:last-of-type {
                  margin:0;
                }
              }
            }

            .signup {
              display:block;
              padding:2em 0;

              //@TODO:move into mixin
              .greenSquareButton {
                @include border-radius(3px);
                padding:0.5em 1.6em;
                text-transform:uppercase;
                font-size:1.3em;
              }
            }
          }
        }
      }
    }

    &.hostedVoice {

      .whyChoose {
        display:block;

        .phones {
          width:40%;
          display:inline-block;

          @include bp_phone {
            display:none;
          }

          .phoneOne {
            margin:0 0 2em 0;
          }

          img {
            width:100%;
            height:auto;
          }
        }

        .why {
          width:55%;
          display:inline-block;
          float:right;
          vertical-align:top;

          @include bp_phone {
            width:100%;
            float:unset;
            display:block;
          }

          ul {
            margin:0 0 0 2em;

            li {
              margin:0 0 1em 0;
              line-height:1.34;
            }
          }
        }

        .hosted {
          display:block;
          margin:2em 0 0 0;
          text-align:center;

          h3 {
            font-size:1.5em;
          }
        }
      }
    }

    &.dsl {

      .leftSidebarColumn {
        display:block;

        .left {
          vertical-align:top;
          width:20%;
          display:inline-block;

          @include bp_phone {
            width:100%;
            display:block;
          }

          //@TODO:move below into mixin
          .one {
            @include border-radius(10px);
            float:left;
            width:300px;
            background:$brand_gray;

            @include bp_phone {
              width:100%;
              display:block;
              float:unset;
            }

            @extend .columnLayout;
          }
        }

        .right {
          float:right;
          display:inline-block;
          width:55%;

          @include bp_phone {
            width:100%;
            display:block;
          }

          h4 {
            font-size:1.5em;
          }

          .installFees {
            display:block;
            margin:0 0 4em 0;
          }

          .equip {

            .wirelessSec, .wiredSec {
              display:inline-block;
              vertical-align:top;
              width:40%;

              .router {
                height:112px;
                position:relative;

                img {
                  position:absolute;
                  bottom:0;
                  width:100%;
                  height:auto;
                }
              }

              .finePrint {
                font-size:0.7em;
                font-style:italic;
              }
            }

            .wiredSec {
              float:right;
            }
          }
        }
      }
    }

    &.residentialVoice {

      .line {
        @include border-radius(5px);
        background:$brand_orange;
        width:32.8%;
        display:inline-block;
        text-align:center;
        color:white;

        @include bp_phone {
          width:100%;
          display:block;
          margin:0 0 1em 0;
        }

        .title {
          font-size:2em;
          padding:0.4em 0;
          font-weight:800;
        }

        .amount {
          background:gray;
          padding:1em 0;
          display:block;

          .price {
            font-size:3em;
            display:block;
            font-weight:900;
          }

          .under {
            font-size:1.2em;
            display:block;
          }

          .asterisk {
            font-size:0.7em;
            line-height:0.9;
            padding:0 1%;
          }
        }

        .itemizedPoints {
          background:#e3e3e3;
          list-style-type:none;
          padding:1em 0;
          margin:0;
          color:#333;

          li {
            margin:0 0 3em 0;

            .twoColSquareButton {
              @include transition(400ms all ease);
              @include border-radius(5px);
              background:$brand_new_yellow;
              text-align:center;
              font-size:1.3em;
              padding:0.4em 0;
              margin:1em 3em;
              color:#333;
              text-transform:uppercase;
              text-decoration:none;
              display:block;

              &:hover {
                @include transition(400ms all ease);
                background:$brand_orange;
                color:white;
              }
            }
          }
        }
      }
    }
  }

  &.internalDefaultPage {

    .policyList {
      margin:0;
      padding:0;
      list-style-type:none;

      li {
        display:block;
        margin:0 0 2em 0;

        h4 {
          background:#cbcbcb;
          font-size:1.3em;
          color:#333;
          padding:0.5em 1em;
        }
      }
    }

    ul {
      margin:0 0 0 2em;
      list-style-type:none;

      //li {
      //  font-size:1.1em;
      //  line-height:1.5;
      //  margin:0 0 0.5em 0;
      //
      //  &:before {
      //    content:'*';
      //    color:$brand_new_orange;
      //    margin:0;
      //    padding:0 0.5em 0 0;
      //  }
      //}
    }

    a {
      @include transition(500ms all ease);
      color:$brand_new_orange;
      font-weight:700;

      &:hover {
        @include transition(500ms all ease);
        text-decoration:underline;
        color:$brand_orange;
      }
    }

    p {
      font-size:1.1em;
      line-height:1.5;
      color:#333;
    }

    &.support {

      .supportLeft {
        display:inline-block;
        width:30%;

        ul {
          margin:0;
          padding:0;
        }
      }

      .supportRight {
        display:inline-block;
        width:60%;
        float:right;
        vertical-align:top;
      }
    }
  }
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  display:block;
  margin:0;

  @include bp_phone {
    border-top:1px solid #ccc;
  }

  .whiteTop {
    @include box-shadow(0px 37px 32px 3px rgba(0,0,0,.3));
    background:white;
    padding:2em;

    .bottomMenu {
      display:inline-block;
      width:67%;

      @include bp_phone {
        width:100%;
      }

      .menuItemList {
        display:inline-block;
        margin:0 1em 0 0;
        vertical-align:top;
        width:22%;

        @include bp_phone {
          width:100%;
          text-align:center;
          margin:0 0 1em 0;
        }

        &:last-of-type {
          margin:0;

          @include bp_phone {
            margin:0 0 2em 0;
          }
        }

        h3 {
          font-size:1.1em;
          font-weight:900;
          color:$headlineDarkGray;
          display:block;
          margin:0 0 0.2em 0;
        }

        .menu, .menu-footer-first-container, .menu-footer-second-container, .menu-footer-three-container, .menu-footer-four-container {

          ul {
            vertical-align:top;
            list-style-type:none;
            margin:0;
            padding:0;

            li {
              display:block;
              margin:0 0 0.2em 0;

              a {
                color:$headlineDarkGray;
                font-size:0.9em;

                &:hover {
                  color:#ccc;
                }
              }
            }
          }
        }
      }
    }

    .logo {
      display:inline-block;
      float:right;
      width:28%;

      @include bp_phone {
        width:100%;
        display:block;
        float:unset;
      }

      img {
        width:100%;
        height:auto;

        @include bp_phone {
          width:200px;
          display:block;
          margin:auto;
        }
      }
    }
  }

  .bottom {
    display:block;

    p {
      font-size:0.9em;
      text-align:center;
      font-style:italic;

      a {
        color:$headlineDarkGray;
        text-decoration:underline;
      }
    }
  }
}