@import "common/variables";
@import "common/mixins";
@import "common/normalize";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Header
# Menu - Deskop and Mobile
# Home Page Specific
# Content
# - Page Specific Content
# Sidebar
# Scroll To Top
# Footer
# Vendor Specific
# Responsive (iphone/android)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {

  .top {
    display:block;
    padding:0.5em 0 0 0;

    .logo {
      display:inline-block;
    }

    .rightActions {
      display:inline-block;
      vertical-align:top;
      float:right;
      width:440px;
      margin:0.5em 0 0 0;

      .phone {
        font-size:2.1em;
        font-weight:900;
        margin:0 0 0.5em 0;
        text-align:right;
        color:$headlineDarkGray;
        font-family:'Open Sans',sans-serif;
      }

      .menu {
        text-align:right;
        list-style-type:none;

        li {
          margin:0 1em 0 0;
          display:inline-block;

          &:last-of-type {
            margin:0;
          }

          &.webmail {
            @include font-awesome-declaration('before', '\f0e0', 1.1em, null, $headlineDarkGray, null );
          }

          &.myaccount {
            @include font-awesome-declaration('before', '\f2bd', 1.1em, null, $headlineDarkGray, null );
          }

          a {
            color:$headlineDarkGray;
            text-decoration:none;
            font-size:1.2em;

            &:hover {
              color:#ccc;
            }
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Menu - Desktop and Mobile
--------------------------------------------------------------*/
#search_mobile {
  display:none;
}

#menu_close {
  @include font-awesome-declaration('after', '\f057', 2.934em, null, white, null );
  display:none;
  float:right;
  right:2%;
  outline:none;
  border:none;
  background:none;

  @include bp-small {
    display:block;
  }
}

#menu_btn {
  @include font-awesome-declaration('after', '\f0c9', 2.934em, null, $error_red, null) {
    float:left;
  };
  background:none;
  float:right;
  outline:none;
  display:none;
  margin:0;
  top:4em;
  right:2%;
  border:none;
  position:absolute;

  @include bp-small {
    display:block;
  }
}

#menu {
  width:100%;
  padding:1em 0;
  background:#e3e3e3;

  @include bp-small {
    background:black;
    width:100%;
    float:left;
    top:2%;
    z-index:999;
    position:fixed;
    bottom:0;
  }

  .menu {
    @include ul-no-list-style;

    li {
      display:inline-block;
      //margin:0 1.3em 0 0;
      width:19%;
      text-align:center;
      position:relative;

      a {
        font-size:1.7em;
        font-weight:900;
        color:$headlineDarkGray;
        text-transform:uppercase;
      }

      &:hover {

        &  > .sub-menu {
          display:block;
        }
      }

      &.current_page_item {

        a {
          color:#ccc;
        }
      }
    }

    .sub-menu {
      display:none;
      position:absolute;
      background:#096cc8;
      border:1px solid #ccc;
      padding:0;
      width:200px;
      z-index:2;

      @include bp-small {
        background:none;
        position:relative;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        width:100%;
        margin:0.5em 0 0 0;
        float:left;
        padding:0.5em 0;
      }

      li {
        display:block;
        float:left;
        padding:0.5em 0 0.5em 0.5em;
        width:95%;
        border-bottom:1px solid white;

        @include bp-small {
          width:100%;
          border:none;
          padding:0;
          margin:0;
        }

        a {
          color:white;

          &:hover {
            text-decoration:none;
            color:black;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Home Page Specific
--------------------------------------------------------------*/
.homeSlider {
  display:block;
  background:pink;
  overflow:hidden;

  .slick_slider {
    display:block;
    list-style-type:none;
    margin:0;
    padding:0;

    .slick-dots {
      display:none !important;
    }

    li {
      display:inline-block;

      .left {
        width:50%;
        display:inline-block;

        h2 {
          font-size:2.3em;
        }

        p {
          font-size:1.5em;
          line-height:1.5;
          font-weight:300;
        }

        .priceAction {
          display:block;

          .numbers {
            font-weight:900;
            font-size:2.3em;
          }
        }
      }

      .asset {
        width:49%;
        display:inline-block;
      }
    }
  }
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content_left {

}

#content_right {

}

main {

  &.internalMarketing {

    #contentFull {
      padding:0 0 2em 0;
    }
  }
}

#contentFull {
  @include box-shadow(0px 19px 32px 3px rgba(0,0,0,.3));
  background:white;
  padding:2em;

  .internalPageTitle {
    font-size:1.8em;
  }

  .subMenu {
    @include box-shadow(0px 5px 5px rgba(0,0,0,.3));
    background:$brand_orange;
    list-style-type:none;
    margin:0;
    padding:1em 3em;
    position:relative;

    li {
      display:inline-block;
      margin:0 1.5em 0 0;

      &.current {

        &:before {
          content:'^';
          position:absolute;
          top:-31px;
          left:73px;
          font-size:3em;
          color:$brand_orange;
        }

        a {
          font-weight:900;
        }
      }

      a {
        @include transition(600ms all ease);
        font-weight:100;
        color:white;
        font-size:1.5em;
        text-decoration:none;

        &:hover {
          @include transition(600ms all ease);
          border-bottom:1px solid white;
        }
      }
    }
  }

  //all styles for internal special landing pages
  .internalMarketingTemplate {
    margin:auto;
    width:90%;

    .signupTop {
      display:block;
      margin:2.2em 0 0 0;

      .title {
        font-size:2em;
        font-weight:700;
        display:inline-block;
        text-transform:uppercase;
      }

      .signupAction {
        float:right;

        .greenSquareButton {
          @include border-radius(3px);
          padding:0.5em 1.6em;
          text-transform:uppercase;
          font-size:1.3em;
        }
      }
    }

    .threeFullColumn {
      display:block;

      .one {
        vertical-align:top;
        display:inline-block;
        width:32.5%;

        .contain {
          display:block;

          .title {
            font-size:2.4em;
            font-weight:700;
            text-transform:uppercase;
            margin:0 0.3em 0 0;
          }

          .underTitle {
            display:block;
            margin:0 0 1em 0;

            p {
              margin:0;
              padding:0;
            }
          }

          .contentPara {
            display:block;
            margin:0 0 1.5em 0;

            p {
              font-size:0.8em;
              line-height:2;
            }
          }

          .learnMore {
            display:block;

            .graySquareButton {
              @include border-radius(3px);
              background:$brand_gray;
              padding:0.3em 1em;
              text-transform:uppercase;
              text-align:center;
              color:white;
            }
          }
        }
      }

      .two {
        @extend .one;
        border-left:1px solid #333;

        .contain {
          margin:0 0 0 2em;
        }
      }

      .three {
        @extend .one;
        border-left:1px solid #333;

        .contain {
          margin:0 0 0 2em;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  display:block;
  margin:0;

  .whiteTop {
    @include box-shadow(0px 37px 32px 3px rgba(0,0,0,.3));
    background:white;
    padding:2em;

    .bottomMenu {
      display:inline-block;
      width:67%;

      .menuItemList {
        display:inline-block;
        margin:0 1em 0 0;
        width:22%;

        &:last-of-type {
          margin:0;
        }

        h3 {
          font-size:1.1em;
          font-weight:900;
          color:$headlineDarkGray;
          display:block;
          margin:0 0 0.2em 0;
        }

        .menu {

          ul {
            list-style-type:none;
            margin:0;
            padding:0;

            li {
              display:block;
              margin:0 0 0.2em 0;

              a {
                color:$headlineDarkGray;
                font-size:0.9em;

                &:hover {
                  color:#ccc;
                }
              }
            }
          }
        }
      }
    }

    .logo {
      display:inline-block;
      float:right;
      width:28%;

      img {
        width:100%;
        height:auto;
      }
    }
  }

  .bottom {
    display:block;

    p {
      font-size:0.9em;
      text-align:center;
      font-style:italic;

      a {
        color:$headlineDarkGray;
        text-decoration:underline;
      }
    }
  }
}